*
 {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    

 }
 
 .first{
    width: 100%;
    height: 100%;
 }
 .navbar{
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px 0 rgb(0 0 0 / 10%);
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: #262626;
    justify-content: space-between;
}
 img#navbar_logo_responsive {
    display: none;
}
 li.dropdownicon{
    display: none;
 }
 .bi.bi-list{
    display: none;
 }
 ul.first_ul {
  display: flex;
  width: 40vw;
  float: left;
  justify-content: space-around;
}
div#r {
    width: 60vw;
    height: 85vh;
   margin: auto;
    backdrop-filter: saturate(0.5) blur(10px);
}

 li{
    display: inline-block;
    position: relative;
    margin: 40px;
 }
 li:after {
	content: '';
	display: block;
	/* margin: auto; */
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width 0.8s ease, background-color .5s ease;
}

li:hover:after {
	width: 100%;
	background: #BF8100;
}
.col-4 ul li:hover:after{
    width: 100%;
}

 nav ul.navbar li {
    display: inline-block;
    
}
nav ul{
    text-align: center;
background-color: #262626;
     overflow: hidden;
    margin: 0%;
    padding: 0%;
}
#navbar_logo{
    width: 100px;
   
}
img{
    width: 100px;
    display: inline-block;
}
ul.navbar li{
    list-style: none;
    
}

#col-4_display{
    display: inline-block;
}

ul.navbar li a{
    margin-top: 30px;
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color:#BF9100;
}
a#accounticon {
    margin: auto;
    width: 50px;
}
div#button_div {
    margin: auto;
    width: 10vw;
}
 


ul.second_ul {
  height: inherit;
  display: flex;
  float: right;
  width: 700px;
  justify-content: space-between;
  align-items: center;
}

a{
  font-family: 'fredoka';
    font-size: 20px;
    color: #BF9100;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    
}
a.dropdownicon {
   display: none;
}


.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}


.col-4.footer_Logo{
    text-align: center;
}
.col-4.contact{
    text-align: center;
}
.col-4.contact h2{
    display: inline-block;
    margin-left: 20px;
}






.col-1{ width:8.33% ;}

.col-2{ width: 16.66%;}

.col-3{width: 25%;}

.col-4{width: 33.33%;}

.col-5{ width: 41.66%;}

.col-6{width: 50%;}

.col-7{width: 58.33%;}

.col-8{ width: 66.66%;}

.col-9{width: 75%;}

.col-10{width: 83.33;}

.col-11{ width: 91.66%;}

.col-12{width: 100%;}

footer div.col-12{
    background-color: aqua;
}




  .mm{
    width: 100%;
    height: 73%;
  }
  footer{
    background-color: #262626;
    padding: 20px;
   
  }
  .test{
    border-radius: 12px;
    margin: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
   
     }
  .test1{
    border-radius: 12px;
    margin: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
     background-color: white;
  }
  
  .test2{
    border-radius: 12px;
    margin: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
     background-color: white;
  }
  

  .first_container{
   background-color: #262626;
    display: flex;
    width: 100%;
    margin: auto;
    padding-bottom: 4%;
}

.col-12{
    
   
    background-color: white;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button{
    width: inherit;
   border-radius: 20px;
    font-weight: bold;
    color: #BF9100;
    background: transparent;
    padding: 10px 20px;
    border: 4px solid;
    cursor: pointer;
}
p#but{
    margin: 0px 100px;
    color: #BFBFBF;
    font-size: 30px;
    font-weight: bold;
    padding: 40px;
   
}
.b{
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(315deg, hsla(0, 0%, 15%, 1) 39%, hsla(46, 100%, 37%, 1) 100%); */
    background-image: url(../Cuisine/istockphoto-1298434383-612x612.jpg);
    height: 700px;
}
h1{
    text-align: center;
    font-size: 80px;
}
h1.head_one{
    padding-top: 80px;
    color: white;
    
}
h1.head_two{
    color: #BF9100;
}
div.box{
    border-radius: 7px;
    margin: 24px;
    text-align: center;
    padding: 36px 24px 40px 24px;
    background-color: #fff;
    box-shadow: -3px -3px 9px #aaa9a9a2, 3px 3px 7px rgb(147 149 151 / 67%);
    
}

.c{
    
    display: flex;
}
.images{
    width: 200px;
}
p{
    margin: 30px 90px;
    text-align: center;
    color: #BFBFBF;
    font-size: 30px;
    font-weight: bold;
    padding: 40px;
}
img.images:hover{
    transform: translate(7px,-7px);
}



#more{
    display: none;

}
.footer_links{
    
    display: inline-block;
   
}
.icons{
    text-align: center;
}
.copyright{
    padding: 30px;
    text-align: center;
}
.right_footer{
    float: right;
    padding: 30px;
}
h2{
    color: #BF9100;
    display: block;
}
svg.bi.bi-telephone-fill{
    display: inline-block;
    margin-right: 4px;
    color: #BFBFBF;
    width: 2vw;
}

.footer_links ul li{
    display: block;
}
p.para2{
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

svg.facebook,svg.instagram,svg.youtube{
    margin: 0px 10px;
}
.icons a{
    padding: 0px;
    color: black;


}
.icons a:hover{
    background-color: transparent;
}
em{
    color: #BF9100;
}
.para2 a{
    
    
}
.user_div h6{
color: white;
}

.para2 a:hover{
    color: #BF9100;
}
p#para{
    color: white;
}

svg.bi.bi-envelope{
    display: inline-block;
    margin-right: 4px;
    color: #BFBFBF;
}
.para2 a{
    padding: 0px;
    background-color: transparent;
}
.right_footer a{
    padding: 0px;
  
    
}
.right_footer a:hover{
    text-decoration: none;
background-color: transparent;
color: #BF9100;
}
.box p{
    margin: 0px;
}


@media  screen and (max-width:500px) {
    .navbar{
        width: 100vw;
        height: 100px;
    }
    li.dropdownicon{
        display: inline;
    }
    li{
        margin: 0px;
      
    }
    a:hover{
        text-decoration: none;
    }
   
    footer{
        width: 100vw;
    }
    .first_f{
        width: 100vw;
        display: block;
    }
    img#navbar_logo_responsive {
        display: none;
    }
    body{
        
        width: 100vw;
    }
    #button1{
    
        width: 25vw;
        margin-bottom: 20px;
    }
    a{
       
       padding: 10px;
        font-size: 20px;
    }
    .c{
        display: block;
        width: 100vw;
    }
    .col-4{
        width: 80vw;
        margin: 0px auto;

    }
    
    div#button_div{
        position: relative;
        width: 25vw;
        DISPLAY: block;
        margin: 20px auto;
        
    }
    .footer_links a{
    font-size: 8px;
    padding: 10px;
    }
    .right_footer{
        padding: 0px;
    
        float: none;
        text-align: center;
    }
    div#r{
        height: fit-content;
        width: 70vw;
    }
    .b{
        height: 100vh;
    }
    #logo{
        float: none;
        display: block;
        width: 15vw;
        margin: 0px auto;
    }
    a#accounticon {
        padding: 0px;
        
    }
    .right_footer a{
        font-size: 6px;
        position: relative;
        top: -5px;
    }
    .footer_links{
        text-align: center;
        display: block;
        padding: 20px;
        float: none;
       
    }
    svg.bi.bi-telephone-fill {
        width: 6vw;
    }
    
    svg.bi.bi-envelope{
        width: 6vw;
    }
    .navbar_links a{
       display: none;
    }
    #para{
        width: 70vw;
    }
    p#para{
        display: inline;
    margin: 12px;
    /* left: -112px; */
    position: relative;
    font-size: 12px;
    line-height: 2;
    padding: 10px;
    }
    span#dots {
        margin: 130px;
    }
    h1{
        font-size: 60px;
    }
    .icons{
        padding: 20px;
        display: block;
        text-align: center;
    }
.copyright{
    padding: 20px;
    text-align: center;
}
#phone_div{
    width: 80vw;
    display: block;
}
#email_div{
    width: 80vw;
    display: block;
}
#navbar_logo{
    float: left;
    width: 15vw;
    display: none;
}
.bi.bi-list{
    display: inline-block;
    margin-top: 20px;
    
}
.navbar li{
    float: right;
    
}

li.account_icon {
    display: none;
}
.navbar.responsive li{
    display: inline;
    float: none;
}
.navbar.responsive{
    display: inline-block;
    height: 360px;
}
.navbar.responsive li a{
    display: block;
    font-size: 20px;
}
ul.first_ul{
    width: 24vw;
    float: none;
    margin: auto;
}
ul.second_ul li.dropdownicon:hover::after {
border: 0px;
}
.navbar.responsive img#navbar_logo{
   display: none;
   float: none; 

}
img#navbar_logo_responsive{
    display: block;
    width: 20vw;
}
ul.second_ul{
    width: 40vw;
}
a.dropdownicon {
    display: block;
    top: 0px;
    right: 0px;
    position: absolute;
    font-size: 50px;
}


ul.second_ul{
    width: 24vw;
    float: none;
}

svg.bi.bi-geo-alt{
    width: 6vw;
    
}
.location_div h2{
    font-size: 20px;
    position: relative;
    font-size: 20px;
    bottom: 8px;
}
#phone_div a{
    padding: 0px;
}
.head_two {
    margin-bottom: 20px;
}
}



input[type="checkbox"] {
    margin-right: 5px;
}

.remember_me{
    margin: 20px 0px;
    text-align: start;
    
}
.forget_password{
    margin: 25px 0px;
    display: block;
    text-align: start;
}

.content{
    height: 90vh;
    background-color: white;
    overflow: hidden;
    display: block;
    width: 35vw;
    border-radius: 10px;
    padding: 40px 30px;
    margin: auto auto;
    box-shadow: -3px -3px 9px #aaa9a9a2, 3px 3px 7px rgb(147 149 151 / 67%);

}

.remember_me span{
    color: white;
}
.pic{
    
    background-image: url(../Cuisine/banner.png);
    height: 400px;
    width: 100%;
    background-size: contain;
    
}
.pic2{
    width: 99vw;
    height: 54vh;
    backdrop-filter: saturate(0.5) blur(5px);
}

#login_head{
   margin: 20px;
    display: block;
    font-size: 70px;
    text-align: center;
    color: #BF9100;
}

h1#signup_head{
    margin: 20px;
    display: block;
    font-size: 70px;
    text-align: center;
    color: #BF9100;
}
.content .field{
   
    width: 100%;
    
    position: relative;
  }
  
  

  /* .field input::placeholder{
    color: #e0d2d2a6;
  }
  .form_inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  } */
  
  /* .field:nth-child(2){
    margin-top: 20px;
  } */
  .field.password_field{
    margin-top: 50px;
  }
  .field span{
    bottom: 40px;
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: #ffffff;
  }
  .field.name_field span,.field.password_field span{
    margin-left: 0px;
  }
  
  
  .col-6.s{
    display: none;
  }

  
  
 
 body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
 }
 .login_button:hover,.sign_up_button:hover{
    background-color:rgba(255, 255, 255, 0.1) ;
  }


li.account_icon{
    margin: 20px;
    margin-right: 0px;
    position: relative;
}
lord-icon{
  margin-bottom: 10px;
}
li.cart_icon {
position: relative;
margin: 20px;
}




.f{
    padding: 30px;
    text-align: center;
}
.s{
    float: right;
}
.field{
    margin-top: 20px;
}

#navbar_logo:hover{
transform: rotateY(180deg);
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
animation: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.fotter_logo{
    display: block;
    text-align: center;
}

.login_form {
    float: right;
    width: 22vw;
    display: inline-block;
}

.phone_div{
    margin-bottom: 20px;
}
.row .col-4 ul li{
display: table;
margin: 10px;

}
.row .col-4 ul li a{
    cursor: pointer;
    font-size: 15px;
}

.row .col-4 h1{
    font-size: 20px;
    color: white;
    text-align: start;
    padding: 10px;
   
}



svg.bi.bi-geo-alt {
    display: inline-block;
    color: white;
}
button#button1:active{
transition: all 4s;
}
.location_div{
    margin-bottom: 20px;
}
#phone_div{
    margin-bottom: 20px;
}
.banner_content{
    text-align: center;
   
}
.banner_content h3{
    display: inline-block;
}
.banner_content a{
    text-transform: capitalize;
    color: #BFBFBF;
    transition: all 0.8s ;
}
.banner_content a:hover{
    color: #262626;
}
.pic2 h1{
    display: inline-block;
    font-size: 50px;
    margin: 90px;
}
.pic2{
    text-align: center;
}
.fotter_container {
    width: 88vw;
    margin: 0px auto;
    
}

.container2 {
   
    width: 99vw;
    height: 99vh;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
}

.col-6.s span{
    width: 50px;
    position: absolute;
    left: 20px;
    bottom: 41px;

}
/* ::selection{
    background-color: #BF8100;
    color: #fff;
  } */
  /* .wrapper{
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  } */
   .title-text{
    display: flex;
    width: 200%;
  }
   .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
   .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
   background-color: #BF9100;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  
  #signup:checked ~ label.login{
    color: #000;
  }
  #login:checked ~ label.signup{
    color: #000;
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
   .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
  }
  .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  /* .form-inner form .field input:focus{
    border-color: #BF8100;
    /* box-shadow: inset 0 0 3px #fb6aae;} */
  
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: #BF8100;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
   .btn-layer{
   
    width: 40%;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background-color: #BF8100;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
  }
 
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  .field.error input{
    margin: 0px 0px 15px 0px;
    padding: 20px;
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
   
    border: 1px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
}
:root{
    --success-color:#2ecc71;
    --error-color: #e74c3c;
}
.form-inner form .field.error input{
   border-color:  var(--error-color);
}

 small{
    color: var(--error-color);
    visibility: hidden;
}
.field.error small{

    visibility: visible;
}
.form-inner form .field.success input{
border-color: var(--success-color);
}

#form2 .field{
    margin-bottom: 50px;
    margin-top: 0px;
}

.banner{
    height: 87vh;
    background-size: cover;
    width: 100%;
    background-image: url(../banner1.png);
}
.e{
    width: 44vw;
    height: 87vh;
    backdrop-filter: saturate(0.5) blur(10px) ;
    margin-left: 200px;
    background-color: #000;
    opacity: 0.9;
    transform: skewX(154deg)
}
.reveal{
position: relative;
transform: translateY(150px);
opacity: 0;
transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
    height: 99vh;
}


.e img{
    width: 200px;
       
    margin-left: 220px;
}
.location{
    transform: skewX(25deg);
}
.location h2{
    color: white;
}
.e div{
    transform: skewX(20deg);
}
.phone svg.bi.bi-telephone-fill{
    margin-left: 70px;
    color:#BF8100 ; 
    vertical-align: middle;
    width: 3vw;
    margin-right: 20px;
}
.e a{
    color: white;
}

.email svg.bi.bi-envelope{
    margin-left: 110px;
    width: 3vw;
    vertical-align: middle;
    color: #BF8100;
    margin-right: 20px;
}
.boxes div.col-4{
    display: inline-block;
    position: relative;
    top: -60px;
}
.boxes{
    display: flex;
}


.boxes div.col-4 h1{
    color: #BF8100;
    font-size: 40px;
}

.boxes div.col-4 img{
    width: 60px;
    margin-top: 80px;
}
.footer{
    position: relative;
    top: 300px;
}

.banner{
  background-image: url(../Cuisine/img/Quick\ Guide\ to\ Every\ Herb\ and\ Spice\ in\ the\ Cupboard.jfif);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.form-inner form #firstname_field.field {
    width: 45%;
    display: inline-block;
}
.form-inner form #lastname_field.field {
    width: 45%;
    display: inline-block;
    float: right;
}

/* registration */



.container{
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2700px;
  }
  .container .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
  }
  .container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
  }
   .container .cover .front,
   .container .cover .back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .cover .back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  .container .cover::before,
  .container .cover::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #BF8100;
    opacity: 0.5;
    z-index: 12;
  }
  .container .cover::after{
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  .container .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }
  .container .cover .text{
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1.name {
    width: 100px;
    font-size: 20px;
    color: white;
}
h1.name:hover{
text-decoration: none;

}
li.navbar_links:hover{
  text-decoration: none;
}
  .cover .text .text-1,
  .cover .text .text-2{
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }
  .cover .text .text-2{
    font-size: 15px;
    font-weight: 500;
  }
  .container .forms{
    height: 100%;
    width: 100%;
    background: #fff;
  }
  .container .form-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: calc(100% / 2 - 25px);
  }
  .forms .form-content .title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
  .forms .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #7d2ae8;
  }
  .forms .signup-form  .title:before{
    width: 20px;
  }
  .forms .form-content .fieldes{
    margin-top: 30px;
  }
  .forms .form-content .field{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
  .form-content .field input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .form-content .field input:focus,
  .form-content .field input:valid{
    border-color: #BF8100;
  }
  .form-content .field i{
    position: absolute;
    color: #BF8100;
    font-size: 17px;
  }
  .forms .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  .forms .form-content .text a{
    text-decoration: none;
  }
  .forms .form-content .text a:hover{
    text-decoration: underline;
  }
  .forms .form-content .button{
    color: #fff;
    margin-top: 40px;
  }
  .forms .form-content .button input{
    color: #fff;
    background: #BF8100;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .forms .form-content .button input:hover{
    background: #BF8100;
  }
  .forms .form-content label{
    color: #BF8100;
    cursor: pointer;
  }
  .forms .form-content label:hover{
    text-decoration: underline;
  }
  .forms .form-content .login-text,
  .container2 .forms .form-content .sign-up-text{
    text-align: center;
    margin-top: 25px;
  }
  .container #flip{
    display: none;
  }

/* manage page table */

.products{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.products td, .products th{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
  .products tr:nth-child(even){background-color: #f2f2f2;}

.products tr:hover {background-color: #ddd;}
    
.products th{
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #262626;
  color: #BF8100;

}

/* shop table */

h2.shop_head {
  color: #BF8100;
  display: block;
}

.navbar a{
  color: #BF8100;
}
h3.title2{
  color: #BF8100;
}
.shop_container{
margin: auto;
}

span{
  font-size: 14px;
  text-transform: capitalize  ;
}
  @media (max-width: 730px) {
    .container .cover{
      display: none;
    }
    .form-content .login-form,
    .form-content .signup-form{
      width: 100%;
    }
    .container2 .form-content .signup-form{
      display: none;
    }
    .container2 .container #flip:checked ~ .forms .signup-form{
      display: block;
    }
    .container #flip:checked ~ .forms .login-form{
      display: none;
    }

  
    .upload img {
      border-radius: 50%;
      border: 8px solid #DCDCDC;
  }

    
  }