
 *
 {
    padding: 0%;
    margin: 0%;

 }
 
 .first{
    width: 100%;
    height: 100%;
 }
 .navbar{
    height: 100px;
    width: 100%;
    background-color: #262626;
 }
 li{
    display: inline-block;
    margin: 40px;
 }


 nav ul.navbar li {
    display: inline-block;
    
}
nav ul{
    text-align: center;
background-color: #262626;
     overflow: hidden;
    margin: 0%;
    padding: 0%;
}
#logo{
    width: 100px;
    float: left;
}
img{
    display: inline-block;
}
ul.navbar li{
    list-style: none;
    
}

#col-4_display{
    display: inline-block;
}

ul.navbar li a{
    margin-top: 30px;
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: white;
}
  a:hover{
background-color: #BF9100;
color: white;
}

a{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #BFBFBF;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.col-4.footer_Logo{
    text-align: center;
}
.col-4.contact{
    text-align: center;
}
.col-4.contact h2{
    display: inline-block;
    margin-left: 20px;
}






.col-1{ width:8.33% ;}

.col-2{ width: 16.66%;}

.col-3{width: 25%;}

.col-4{width: 33.33%;}

.col-5{ width: 41.66%;}

.col-6{width: 50%;}

.col-7{width: 58.33%;}

.col-8{ width: 66.66%;}

.col-9{width: 75%;}

.col-10{width: 83.33;}

.col-11{ width: 91.66%;}

.col-12{width: 100%;}

footer div.col-12{
    background-color: aqua;
}

svg.youtube{
    color: red;
}
svg.facebook{
    color:#4267B2;
}

.instagram {
    margin: 2.5px;
    color: white;
    position: relative;
    
  
  }

  .mm{
    width: 100%;
    height: 73%;
  }
  footer{
    background-color: dimgray;
  }
  .test{
    border-radius: 12px;
    margin: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
   
     }
  .test1{
    border-radius: 12px;
    margin: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
     background-color: white;
  }
  .facebook{
    margin: 2.5px;
    color: white;
    position: relative;
  }
  .test2{
    border-radius: 12px;
    margin: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
     background-color: white;
  }
  .youtube{
    margin: 2.5px;
    color: white;
    position: relative;
  }

  .first_container{
   background-color: #262626;
    display: flex;
    width: 100%;
    margin: auto;
    padding-bottom: 4%;
}

.col-12{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button{
    width: max-content;
    margin: 100px 700px;
    font-weight: bold;
    color: #BF9100;
    background: transparent;
    padding: 10px 20px;
    border: 4px solid;
    cursor: pointer;
}
p#but{
    margin: 0px 100px;
    color: #BFBFBF;
    font-size: 30px;
    font-weight: bold;
    padding: 40px;
   
}
.b{
    background-repeat: no-repeat;
    background-size: cover;
   background-image: url(background.jpg);
    height: 700px;
}
h1{
    text-align: center;
    font-size: 80px;
}
h1.head_one{
    padding-top: 80px;
    color: white;
    
}
h1.head_two{
    color: #BF9100;
}
div.box{
    border-radius: 7px;
    margin: 24px;
    text-align: center;
    padding: 36px 24px 40px 24px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15),
    0 2px 3px 0 rgba(0, 0, 0, 0.1) ;
}
.c{
    display: flex;
}
.images{
    width: 200px;
}
p{
    
    color: #BFBFBF;
    font-size: 30px;
    font-weight: bold;
    padding: 40px;
}
img.images:hover{
    transform: translate(7px,-7px);
}

@media screen and (max-width: 600px){
    ul.navbar{
        width: 100%;
    }
   .navbar{

   }
   .first{

   }
   .b{
    background-size: cover;
    
   }
   li{

    margin: 40px 0px;
   }
   a{
    font-size: 15px;
    
   }
   
   #button1{
        margin: 100px 200px;
   }
   .c{
display: block;
   }
   .col-4{
width: 100%;
   }
}
@media screen and (max-width:480px) {
    
    ul.navbar{
        width: 100%;
    }

}