*
 {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

 }
 
 .first{
    width: 100%;
    height: 100%;
 }
 .navbar{
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px 0 rgb(0 0 0 / 10%);
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: #262626;
 }
 img#navbar_logo_responsive {
    display: none;
}
 li.dropdownicon{
    display: none;
 }
 .bi.bi-list{
    display: none;
 }
 ul.first_ul{
    width: 40vw;
    float: left;
}
div#r {
    width: 60vw;
    height: 85vh;
   margin: auto;
    backdrop-filter: saturate(0.5) blur(10px);
}

 li{
    display: inline-block;
    position: relative;
    margin: 40px;
 }
 li:after {
	content: '';
	display: block;
	/* margin: auto; */
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width 0.8s ease, background-color .5s ease;
}

li:hover:after {
	width: 100%;
	background: #BF8100;
}
.col-4 ul li:hover:after{
    width: 100%;
}

 nav ul.navbar li {
    display: inline-block;
    
}
nav ul{
    text-align: center;
background-color: #262626;
     overflow: hidden;
    margin: 0%;
    padding: 0%;
}
#navbar_logo{
    width: 100px;
   
}
img{
    width: 100px;
    display: inline-block;
}
ul.navbar li{
    list-style: none;
    
}

#col-4_display{
    display: inline-block;
}

ul.navbar li a{
    margin-top: 30px;
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color:#BF9100;
}
a#accounticon {
    margin: auto;
    width: 50px;
}
div#button_div {
    margin: auto;
    width: 10vw;
}
 


ul.second_ul{
    display: inline-block;
    float: right;
    width: 700px;
}

a{
    font-size: 20px;
    font-weight: bold;
    color: #BF9100;
    text-decoration: none;
   
    text-align: center;
    text-transform: uppercase;
    
}


.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}


.col-4.footer_Logo{
    text-align: center;
}
.col-4.contact{
    text-align: center;
}
.col-4.contact h2{
    display: inline-block;
    margin-left: 20px;
}






.col-1{ width:8.33% ;}

.col-2{ width: 16.66%;}

.col-3{width: 25%;}

.col-4{width: 33.33%;}

.col-5{ width: 41.66%;}

.col-6{width: 50%;}

.col-7{width: 58.33%;}

.col-8{ width: 66.66%;}

.col-9{width: 75%;}

.col-10{width: 83.33;}

.col-11{ width: 91.66%;}

.col-12{width: 100%;}

footer div.col-12{
    background-color: aqua;
}




  .mm{
    width: 100%;
    height: 73%;
  }
  footer{
    background-color: #262626;
    padding: 20px;
   
  }
  .test{
    border-radius: 12px;
    margin: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
   
     }
  .test1{
    border-radius: 12px;
    margin: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
     background-color: white;
  }
  
  .test2{
    border-radius: 12px;
    margin: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
     background-color: white;
  }
  

  .first_container{
   background-color: #262626;
    display: flex;
    width: 100%;
    margin: auto;
    padding-bottom: 4%;
}

.col-12{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button{
    width: inherit;
   border-radius: 20px;
    font-weight: bold;
    color: #BF9100;
    background: transparent;
    padding: 10px 20px;
    border: 4px solid;
    cursor: pointer;
}
p#but{
    margin: 0px 100px;
    color: #BFBFBF;
    font-size: 30px;
    font-weight: bold;
    padding: 40px;
   
}
.b{
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(315deg, hsla(0, 0%, 15%, 1) 39%, hsla(46, 100%, 37%, 1) 100%); */
    background-image: url(../Cuisine/istockphoto-1298434383-612x612.jpg);
    height: 700px;
}
h1{
    text-align: center;
    font-size: 80px;
}
h1.head_one{
    padding-top: 80px;
    color: white;
    
}
h1.head_two{
    color: #BF9100;
}
div.box{
    border-radius: 7px;
    margin: 24px;
    text-align: center;
    padding: 36px 24px 40px 24px;
    background-color: #fff;
    box-shadow: -3px -3px 9px #aaa9a9a2, 3px 3px 7px rgb(147 149 151 / 67%);
    
}

.c{
    
    display: flex;
}
.images{
    width: 200px;
}
p{
    margin: 30px 90px;
    text-align: center;
    color: #BFBFBF;
    font-size: 30px;
    font-weight: bold;
    padding: 40px;
}
img.images:hover{
    transform: translate(7px,-7px);
}



#more{
    display: none;

}
.footer_links{
    
    display: inline-block;
   
}
.icons{
    text-align: center;
}
.copyright{
    padding: 30px;
    text-align: center;
}
.right_footer{
    float: right;
    padding: 30px;
}
h2{
    color: #BF9100;
    display: inline-block;
}
svg.bi.bi-telephone-fill{
    display: inline-block;
    margin-right: 4px;
    color: #BFBFBF;
    width: 2vw;
}

.footer_links ul li{
    display: block;
}
p.para2{
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

svg.facebook,svg.instagram,svg.youtube{
    margin: 0px 10px;
}
.icons a{
    padding: 0px;
    color: black;


}
.icons a:hover{
    background-color: transparent;
}
em{
    color: #BF9100;
}
.para2 a{
    
    
}

.para2 a:hover{
    color: #BF9100;
}
p#para{
    color: white;
}

svg.bi.bi-envelope{
    display: inline-block;
    margin-right: 4px;
    color: #BFBFBF;
}
.para2 a{
    padding: 0px;
    background-color: transparent;
}
.right_footer a{
    padding: 0px;
  
    
}
.right_footer a:hover{
    text-decoration: none;
background-color: transparent;
color: #BF9100;
}
.box p{
    margin: 0px;
}


@media  screen and (max-width:500px) {
    .navbar{
        width: 100vw;
        height: 155px;
    }
    li.dropdownicon{
        display: inline;
    }
    li{
        margin: 0px;
      
    }
    a:hover{
        text-decoration: none;
    }
   
    footer{
        width: 100vw;
    }
    .first_f{
        width: 100vw;
        display: block;
    }
    img#navbar_logo_responsive {
        display: none;
    }
    body{
        
        width: 100vw;
    }
    #button1{
    
        width: 25vw;
        margin-bottom: 20px;
    }
    a{
       
       padding: 10px;
        font-size: 20px;
    }
    .c{
        display: block;
        width: 100vw;
    }
    .col-4{
        width: 80vw;
        margin: 0px auto;

    }
    
    div#button_div{
        position: relative;
        width: 25vw;
        DISPLAY: block;
        margin: 20px auto;
        
    }
    .footer_links a{
    font-size: 8px;
    padding: 10px;
    }
    .right_footer{
        padding: 0px;
    
        float: none;
        text-align: center;
    }
    div#r{
        height: fit-content;
    }
    .b{
        height: 100vh;
    }
    #logo{
        float: none;
        display: block;
        width: 15vw;
        margin: 0px auto;
    }
    .right_footer a{
        font-size: 6px;
        position: relative;
        top: -5px;
    }
    .footer_links{
        text-align: center;
        display: block;
        padding: 20px;
        float: none;
       
    }
    svg.bi.bi-telephone-fill {
        width: 6vw;
    }
    
    svg.bi.bi-envelope{
        width: 6vw;
    }
    .navbar_links a{
       display: none;
    }
    #para{
        width: 70vw;
    }
    p#para{
        display: inline;
    margin: 12px;
    /* left: -112px; */
    position: relative;
    font-size: 12px;
    line-height: 2;
    padding: 10px;
    }
    span#dots {
        margin: 130px;
    }
    h1{
        font-size: 60px;
    }
    .icons{
        padding: 20px;
        display: block;
        text-align: center;
    }
.copyright{
    padding: 20px;
    text-align: center;
}
#phone_div{
    width: 30vw;
    display: block;
}
#email_div{
    width: 80vw;
    display: block;
}
#navbar_logo{
    float: left;
    width: 15vw;
    display: none;
}
.bi.bi-list{
    display: inline-block;
    margin-top: 20px;
    
}
.navbar li{
    float: right;
    
}
#navbar_links{
    display: none;
}
li.account_icon {
    display: none;
}
.navbar.responsive li{
    display: inline;
    float: none;
}
.navbar.responsive{
    display: inline-block;
    height: 360px;
}
.navbar.responsive li a{
    display: block;
    font-size: 20px;
}
ul.first_ul{
    width: 24vw;
    float: none;
    margin: auto;
}
ul.second_ul li.dropdownicon:hover::after {
border: 0px;
}
.navbar.responsive img#navbar_logo{
   display: none;
   float: none; 

}
img#navbar_logo_responsive{
    display: block;
    width: 15vw;
}
ul.second_ul{
    width: 40vw;
}
a.dropdownicon {
    top: 0px;
    right: 0px;
    position: absolute;
    font-size: 30px;
}
.dropdownicon a {
    
}

ul.second_ul{
    width: 24vw;
    float: none;
}

svg.bi.bi-geo-alt{
    width: 6vw;
    
}
.location_div h2{
    font-size: 20px;
    position: relative;
    font-size: 20px;
    bottom: 8px;
}
#phone_div a{
    padding: 0px;
}
.head_two {
    margin-bottom: 20px;
}
}







.content{
    display: block;
    width: 22vw;
    border-radius: 10px;
    padding: 40px 30px;
    margin: 0px auto;
    box-shadow: -3px -3px 9px #aaa9a9a2, 3px 3px 7px rgb(147 149 151 / 67%);
}
#login_head{
   margin: 20px;
    display: block;
    font-size: 70px;
    text-align: center;
    color: #BF9100;
}

h1#signup_head{
    display: block;
    font-size: 67px;
    text-align: center;
    color: #BF9100;
}
.content .field{
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
  }
  
  .field input{
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #e0d2d2;
    border: 1px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
  }

  .field input::placeholder{
    color: #e0d2d2a6;
  }
  
  .field:nth-child(2){
    margin-top: 20px;
  }
  
  .field span{
    margin-left: 15px;
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: #ffffff;
  }
  button.sign_up_button,button.login_button{
    margin: 25px 0 0 0;
    width: 40%;
    height: 50px;
    color: #BF9100;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
    margin-top: 40px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
   
  }
  
  button.login_button{
    margin-right: 70px;
  }
 form{
    margin-top: 30px;
 }
 body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
 }
 .login_button:hover,.sign_up_button:hover{
    background-color:rgba(255, 255, 255, 0.1) ;
  }


li.account_icon{
    margin-left: 190px;
}

.f button {
    margin: 0px 20px;
    width: fit-content;
}
.f{
    padding: 30px;
    text-align: center;
}


#navbar_logo:hover{
transform: rotateY(180deg);
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
animation: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.fotter_logo{
    display: block;
    text-align: center;
}

.login_form {
    float: right;
    width: 22vw;
    display: inline-block;
}

.phone_div{
    margin-bottom: 20px;
}
.row .col-4 ul li{
display: table;
margin: 10px;

}
.row .col-4 ul li a{
    cursor: pointer;
    font-size: 15px;
}

.row .col-4 h1{
    font-size: 20px;
    color: white;
    text-align: start;
    padding: 10px;
   
}



svg.bi.bi-geo-alt {
    display: inline-block;
    color: white;
}
button#button1:active{
transition: all 4s;
}
.location_div{
    margin-bottom: 20px;
}
#phone_div{
    margin-bottom: 20px;
}